<article class="landing__container">
    <div class="landing__elements">
        <div class="img__container">
            <div class="img__border">
                <img class="img__landing" src="/img/portfolio.webp" alt="Aldo_Rodriguez-Dev">
            </div>
        </div>

        <div class="landing__container--elements">
            <div class="text__container">
                <h1>Aldo Rodriguez</h1>
                <h2>Desarrollador</h2>
            </div>

            <div class="socials__container">
                <div class="links__container">
                    <a href="https://www.linkedin.com/in/aldordzvn/" target="_blank" rel="noopener noreferrer"
                        class="link"> <fa-icon class="icon linkedin" [icon]="linkedin"></fa-icon> </a>
                    <a href="https://github.com/Aldordzvn/portfolio" target="_blank" rel="noopener noreferrer"
                        class="link"> <fa-icon class="icon github" [icon]="github"></fa-icon> </a>
                </div>
                <a href="/assets/Aldo_CV.pdf" target="_blank" rel="noopener noreferrer" aria-label="Abrir CV en PDF"
                    class="btnDownload"> <fa-icon class="icon cv" [icon]="download"></fa-icon> Descargar CV</a>
            </div>
        </div>
    </div>
</article>