@import '../styles/_mixins/mixins';

:host {
    display: block;
    min-height: 100vh;
}

.proyectos__container {
    min-height: inherit;
    background-color: var(--primary);
    color: var(--alternative-text);

    p {
        margin: 0;
    }
}

.proyectos__container--elements {
    max-width: 76.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 6rem 1.6rem;
    gap: 3rem;

    .title {
        font-size: 2.4rem;
        font-weight: 500;
    }
}


.grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 4rem;
}

.cardP {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    p {
        line-height: 2rem;
    }

    .linkImg {
        display: block;
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    a {
        color: var(--alternative-text);

        &:hover {
            color: var(--secondary);
        }
    }

    .card__txt {
        display: flex;
        flex-direction: column;

        .proyecto__titulo {
            font-size: 2rem;
            font-weight: 500;
            margin: 1.6rem 0;
        }

        .descripcion {
            margin-bottom: 1.6rem;
        }

        .tecnologias__container {
            display: flex;
            align-items: center;
            gap: 2rem;

            .icon {
                font-size: 3rem;
            }
        }
    }
}

@include tablet {
    .grid__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 50rem;
        margin: 0 auto;
    }

    .cardP {}
}

@include desktop {
    .proyectos__container--elements {
        max-width: 102.4rem;
        margin: 0 auto;

        .title {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
    }



    .grid__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: inherit;
    }

    .cardP {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        border: 1px solid var(--border);
        border-radius: 8px;
        gap: 2rem;
        background-color: var(--primary-bg);
        color: var(--text);

        a {
            color: var(--text);
            &:hover{
                
            }
        }
    }

    .card__txt{
        padding: 2rem 2rem 2rem 0;
    }
}