<article id="proyectos" class="proyectos__container">
    <div class="proyectos__container--elements">
        <p class="title">Proyectos</p>
        <div class="grid__container">
            <div class="cardP">
                <a class="linkImg" href="https://inventariofirebase-9d248.web.app/" target="_blank" rel="noopener noreferer">
                    <img src="/img/inventarioImg.webp" alt="Inventario Img">
                </a>
                <div class="card__txt">
                    <a href="https://inventariofirebase-9d248.web.app/" class="proyecto__titulo" target="_blank" rel="noopener noreferer">
                        Inventario
                    </a>
                    <p class="descripcion">
                        La aplicación permite crear, visualizar, editar y eliminar productos, manteniendo un control
                        básico
                        de inventario. <br>
                        Se utiliza Reactive Forms lo que permite validaciones robustas y control
                        preciso del estado de los campos. <br>
                        Para la gestión de datos se utiliza Firebase Realtime Database consumida mediante su REST API,
                        sin depender del SDK de Firebase.
                    </p>
                    <div class="tecnologias__container">
                        <fa-icon class="icon" [icon]="angular"></fa-icon>
                        <fa-icon class="icon" [icon]="html"></fa-icon>
                        <fa-icon class="icon" [icon]="scss"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="cardP">
                <a class="linkImg" target="_blank" rel="noopener noreferer" href="https://storeproyect-a97b6.web.app/">
                    <img src="/img/storeImg.webp" alt="Store Img">
                </a>
                <div class="card__txt">
                    <a href="https://storeproyect-a97b6.web.app/" target="_blank" rel="noopener noreferer" class="proyecto__titulo">
                        Ecommerce Fake Store API
                    </a>
                    <p class="descripcion">
                        Proyecto que simula el flujo de un Ecommerce consumiendo el API de Fake Store API. <br>
                        Esta desarrollado con Angular v19 con arquitectura standalone y programación reactiva con RxJS,
                        aplicando
                        buenas practicas como servicios facade, uso de Async pipe y enfocado a mobile first. <br><br>
                    </p>
                    <div class="tecnologias__container">
                        <fa-icon class="icon" [icon]="angular"></fa-icon>
                        <fa-icon class="icon" [icon]="html"></fa-icon>
                        <fa-icon class="icon" [icon]="scss"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>