@import '../styles/_mixins/mixins';

:host {
    display: block;
    min-height: 100vh;
}

.skills__container {
    height: inherit;
}

.skills__items {
    display: flex;
    flex-direction: column;
    padding: 6rem 1.6rem;

    p {
        margin: 0;
    }
}

.title__section {
    font-size: 2.4rem;
    font-weight: 500;
}

.skills__cards--container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;

    .title__card {
        font-weight: 500;
    }
}

.languages__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 4rem;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--secondary);
        border-radius: 8px;
        padding: 1rem;
        font-weight: bold;

        .icon {
            font-size: 4rem;
        }

        &:hover {
            background-color: var(--primary);
            color: var(--alternative-text);
        }
    }
}

.frameworks__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--secondary);
        border-radius: 8px;
        padding: 1rem;
        font-weight: bold;

        .icon {
            font-size: 4rem;

            &.spring {
                fill: var(--text);
                width: 5rem;
            }
        }

        &.springB {
            text-align: center;
        }

        &:hover {
            background-color: var(--primary);
            color: var(--alternative-text);
        }

    }

    .card:hover .icon.spring {
        transform: scale(1.1);
        fill: var(--alternative-text);
    }
}

@include tablet {
    .title__section {
        font-size: 2.4rem;
    }

    .skills__cards--container {
        .title__card {
            font-size: 2rem;
        }
    }

    .languages__container {

        .card {
            width: clamp(11.9rem, -2.225rem + 33.236vw, 23.3rem);
            height: clamp(11.9rem, -2.225rem + 33.236vw, 23.3rem);
            font-size: 2rem;

            .icon {
                font-size: clamp(4rem, -3.434rem + 17.493vw, 10rem);
            }
        }
    }

    .frameworks__container {
        .card {
            width: clamp(11.9rem, -2.225rem + 33.236vw, 23.3rem);
            height: clamp(11.9rem, -2.225rem + 33.236vw, 23.3rem);
            font-size: 2rem;

            .icon {
                font-size: clamp(4rem, -3.434rem + 17.493vw, 10rem);

                &.spring {
                    width: clamp(4rem, -3.434rem + 17.493vw, 10rem);
                }
            }

            &.springB {
                text-align: center;
            }
        }
    }
}

@include desktop {
    .skills__items {
        max-width: 102.4rem;
        margin: 0 auto;
    }

    .languages__container {
        grid-template-columns: repeat(4, 1fr);
    }

    .frameworks__container {
        grid-template-columns: repeat(4, 1fr);
    }
}