<article id="experiencia" class="experiencia__container">
    <div class="experiencia__container--items">
        <h3>Experiencia</h3>
        <div class="coppel__container">
            <p class="puesto">Desarrollador</p>
            <p class="empresa">Coppel</p>
            <p class="periodo">Abril 2023 - Junio 2024</p>
            <ul>
                <li>Creación y mantenimiento de nueva funcionalidad de sistema de agenda de etiquetado, implementando
                    tecnologías como PHP y Angular.
                </li>
                <li>Creación de tablas relacionales con ddl y dml para la base de datos del sistema de agenda de
                    generación de
                    etiquetado con Postgresql.
                </li>
                <li>Maquetado de sitio web para el sistema de agenda de generación de etiquetado implementando
                    tecnologías como
                    Angular, HTML y CSS.
                </li>
                <li>Mantenimiento de componentes empresariales de lógica de negocio en procesos de venta con Java.</li>
                <li>Implementación de consumo de API para el sistema de venta en legado para el cobro con tarjeta
                    implementando
                    C++.
                </li>
                <li>Atención de Incidencias para el sistema de punto de venta con Java con Spring Boot.</li>
            </ul>
        </div>
        <div class="solemti__container">
            <p class="puesto">Desarrollador</p>
            <p class="empresa">SOLEMTI</p>
            <P class="periodo">(Practicante) Septiembre 2022 - Diciembre 2022</P>
            <ul>
                <li>Maquetado de sitios webs con diseño responsive, implementando diseños de UX/UI desde Adobe XD.
                    (HTML, CSS, Adobe XD).
                </li>
                <li>Desarrollo de nuevas funcionalidades en componentes en arquitectura MVC
                    (PHP).
                </li>
            </ul>
        </div>
    </div>
</article>